@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.wrapper {
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.input-field {
    position: relative;
    margin-top: 30px;
}

.input-field input {
    width: 100%;
    padding: 10px 35px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

.input-field input:focus {
    border-bottom-color: #4070f4;
    outline: none;
}

.input-field i.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: color 0.2s ease;
}

.input-field input:focus ~ i.icon {
    color: #4070f4;
}

.showHidePw {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
    font-size: 24px;
}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
}
.button {
    margin-top: 35px;
}

.button button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4070f4;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover {
    background-color: #265df2;
}
