body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

/* Header style */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4070f4;
    color: white;
    height: 60px;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 4px 5px 8px 3px #c5c3c3;   
}


.header-title {
    margin: 0;
    font-size: 24px;
    color: white;
}

.profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-logo {
    width: 42px;
    height: 42px;
    border-radius: 50%; 
    border: #f4f4f4 3px solid;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    padding: 20px;
}


/* Theme style */

.theme-toggle-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 0 6px rgba(102, 101, 101, 0.8);
}

.theme-toggle-button:hover {
    color: #333;
    text-shadow: 0 0 12px #fff;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme h1, 
body.dark-theme h2, 
body.dark-theme h3, 
body.dark-theme h4, 
body.dark-theme h5, 
body.dark-theme h6 {
    color: #fff;
}

body.dark-theme .header {
    background-color: rgb(33, 37, 41);
}


body.dark-theme .theme-toggle-button {
    color: #333;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

body.dark-theme .theme-toggle-button:hover {
    color: #fff;
    text-shadow: 0 0 12px rgba(255, 221, 87, 0.8);
}
body.dark-theme pre, 
body.dark-theme code {
    background-color: #444;
    color: #fff;
}


/* Body (Blog Title) */
main {
    padding: 20px;
    background-color: #f4f4f4;
}

#blog-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#blog-list li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#blog-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#blog-list li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
}

#blog-list li a:hover {
    color: #007bff;
}

#blog-list li:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
